@import 'variables';

body {
  min-width: 320px;
  background: var(--c-white);
  font-family: var(--ff-sans-serif);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--c-black);
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &[href^='tel'] {
    text-decoration: none;
  }
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  margin-bottom: calc(#{var(--line-height-base)}em / 2);
}

.h1,
h1 {
  font-size: 45px;
}

.h2,
h2 {
  font-size: 40px;
}

.h3,
h3 {
  font-size: 35px;
}

.h4,
h4 {
  font-size: 30px;
}

.h5,
h5 {
  font-size: 25px;
}

.h6,
h6 {
  font-size: 20px;
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
  margin-bottom: #{var(--line-height-base)}em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}