:root {
  --font-size-base: 16px;
  --font-weight-base: 400;
  --line-height-base: 1.2;

  // --ff-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // --ff-serif: Georgia, 'Times New Roman', Times, serif;
  // --ff-cursive: 'Nosifer', cursive;

  --t-duration: 0.4s;

  --shell-max-width: 1140px;
  --shell-gutter: 30px;
  --shell-gutter-tablet: 20px;
  --shell-gutter-mobile: 15px;

  --c-black: #000;
  --c-white: #fff;
  --c-yellow: #fff0ab;
  --c-orange: #ff964f;
  --c-base: #957dad;
  --c-pink: #d291bc;
  --c-red: #ff6666;

  --responsive-ios: 812px;

  --mobile-small: 374px;
  --mobile-medium: 575px;
  --mobile: 767px;
  --admin-bar: 782px;
  --tablet: 1023px;
  --small-desktop: 1199px;
  --large-desktop: 1399px;
}